/* CSS declarations go here */


html {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    font-family: 'Hi Melody', cursive;
}

canvas {
    width:100%;
    height:100%;
}

.color-page {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
}

/*.color-page {
  min
}*/

.weird-circle {
  width: 20px;
  height: 20px;
  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
  animation: wobble 15s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

.color-text {
  padding-left: 20%;
  font-size: 14pt;
}

.color-link {
  padding-left: 20%;
  font-size: 14pt;
  text-decoration: underline;
}

.good-circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    animation: decrease 5s ease-in-out;
}

@keyframes decrease {
  50% {
    width: 6px;
    height: 6px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

/*Octogon css */
*, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Roboto';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
}

#octogon-page, .wrapper, .col, .col-even {
  display: flex;
  align-items: center;
  justify-content: center;
}

#octogon-page {
  width: 4000px;
  height: 3000px;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto';
  overflow: hidden;
}

#logo-wrapper {
  position: absolute;
  width: 300px;
  top: 850px;
  left: 900px;
}

#logo-wrapper img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: calc(100px * 24 * 3);
  height: calc(95px * 5 * 3);
  transform: scale(3.10) rotate(1.3deg) /* rotate(90deg) rotateX(90deg)*/;
}

.col {
  height: 100%;
  margin-left: -40px;
  flex-direction: column;
}
.col:nth-child(even) .triangle-wrap:nth-child(odd) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.col:nth-child(odd) .triangle-wrap:nth-child(even) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.col-even {
  height: 100%;
  margin-left: -40px;
  flex-direction: column;
}
.col-even:nth-child(even) .triangle-wrap:nth-child(even) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.col-even:nth-child(odd) .triangle-wrap:nth-child(odd) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.triangle-wrap {
  width: 100px;
  height: 85px;
  position: relative;
  margin: 5px 0;
}
.triangle-wrap .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 85px 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.triangle-wrap .triangle:nth-child(even) {
  border-color: transparent transparent #ffffff transparent;
  -webkit-animation: rainbow 8s linear infinite;
          animation: rainbow 8s linear infinite;
}
.triangle-wrap .triangle:nth-child(even).animate {
  -webkit-animation: white 1s linear infinite;
          animation: white 1s linear infinite;
}
.triangle-wrap .triangle:nth-child(odd) {
  border-color: transparent transparent black transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 2;
}

.triangle-wrap .triangle:nth-child(odd).animate {
  -webkit-animation: gray 1s linear infinite;
          animation: gray 1s linear infinite;
}

@-webkit-keyframes gray {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes gray {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes white {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
  }
  50.000000001% {
    z-index: 3;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    z-index: 3;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes white {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
  }
  50.000000001% {
    z-index: 3;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    z-index: 3;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rainbow{
  100%,0%{
    border-color: transparent transparent rgb(255,0,0) transparent;
  }
  8%{
    border-color: transparent transparent rgb(255,127,0) transparent;
  }
  16%{
    border-color: transparent transparent rgb(255,255,0) transparent;
  }
  25%{
    border-color: transparent transparent rgb(127,255,0) transparent;
  }
  33%{
    border-color: transparent transparent rgb(0,255,0) transparent;
  }
  41%{
    border-color: transparent transparent rgb(0,255,127) transparent;
  }
  50%{
    border-color: transparent transparent rgb(0,255,255) transparent;
  }
  58%{
    border-color: transparent transparent rgb(0,127,255) transparent;
  }
  66%{
    border-color: transparent transparent rgb(0,0,255) transparent;
  }
  75%{
    border-color: transparent transparent rgb(127,0,255) transparent;
  }
  83%{
    border-color: transparent transparent rgb(255,0,255) transparent;
  }
  91%{
    border-color: transparent transparent rgb(255,0,127) transparent;
  }
}

@keyframes rainbow{
  100%,0%{
    border-color: transparent transparent rgb(255,0,0) transparent;
  }
  8%{
    border-color: transparent transparent rgb(255,127,0) transparent;
  }
  16%{
    border-color: transparent transparent rgb(255,255,0) transparent;
  }
  25%{
    border-color: transparent transparent rgb(127,255,0) transparent;
  }
  33%{
    border-color: transparent transparent rgb(0,255,0) transparent;
  }
  41%{
    border-color: transparent transparent rgb(0,255,127) transparent;
  }
  50%{
    border-color: transparent transparent rgb(0,255,255) transparent;
  }
  58%{
    border-color: transparent transparent rgb(0,127,255) transparent;
  }
  66%{
    border-color: transparent transparent rgb(0,0,255) transparent;
  }
  75%{
    border-color: transparent transparent rgb(127,0,255) transparent;
  }
  83%{
    border-color: transparent transparent rgb(255,0,255) transparent;
  }
  91%{
    border-color: transparent transparent rgb(255,0,127) transparent;
  }
}
